{% extends "base.html" %}
{% block content %}
<h2 class="text--big text--title gradient">Snake</h2>
<h2 class="text--big">&#128013</h2>
<h2 class="text text--red">High Scores</h2>
<ul class="list text text--red">
    {% for score in scores %}
    <li>
        <span>{{score.username}} :</span>
        <span>{{score.score}}</span>
    </li>
    {% endfor %}
</ul>
<form class="form">
    <button class="form__item" type="submit" formaction={{ url_for('main.game_menu') }}>Back</button>
  </form>
{% endblock %}
