{% extends "base.html" %}
{% block content %}
<!-- <script type="module">
    import { io } from "https://cdn.socket.io/4.3.2/socket.io.esm.min.js";
  </script> -->
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js" integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI" crossorigin="anonymous"></script>
<script src="/static/built/multiplayer.js" defer></script>


    <h3 class="text text--red">Multiplayer</h3>
    <form class="form">
      <button class="form__item" type="submit" formaction={{ url_for('main.createlobby') }}>Create Lobby</button>
    </form>




{% endblock %}