<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snake</title>
    <link href="static/common.css" rel="stylesheet">
    <link href="static/snakegame.css" rel="stylesheet">
    <script src="static/built/high_score.js" defer></script>
    <script src="static/built/snake.js" defer></script>
   
  <!--  <link href="style.css" rel="stylesheet"> -->
  </head>
  <body class="container">
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
