<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canvas</title>
    <link href="static/style.css" rel="stylesheet">
    <script src="static/built/high_score.js" defer></script>
    <script src="static/built/snake.js" defer></script>
   
  <!--  <link href="style.css" rel="stylesheet"> -->
  </head>
  <body class="page">
    <div class="page__gameArea">
      <div id="modal" class="modal">
        <h2 class="startModal__title gradient">Snake</h2>
        <h2 class="startModal__title">&#128013</h2>
        <button class="menuButton" type="button" onclick="startGame()">Start</button>
        <button class="menuButton" type="button" onclick="gameModal.update('highScores')">High Scores</button>
      </div>
     <!--  <div id="modal" class="modal">
        <h2 class="gameOver__title">Game Over!</h2>
        <form name="scoreForm" class="scoreForm">
          <input name="username" type="text">
          <button class="menuButton" type="button" onclick="postScore()">Submit score</button>
          <button class="menuButton" type="button" onclick="init()">Play again</button>
        </form>
      </div>
      <div id="scoreModal" class="modal">
      </div> -->
        <h2 id="scoreHeader" class="scoreHeader">Score: 0</h2>
        <h2 id="scoreEmoji" class="scoreEmoji">place</h2>
        <canvas class="myCanvas"></canvas>
        <div class="controlButtons">
          <button type="button" id="upButton" class="controlButtons__button">&#8593;</button>
          <div class="leftrightButtons">
            <button type="button" id="leftButton" class="controlButtons__button">&#8592;</button>
            <button type="button" id="rightButton" class="controlButtons__button">&#8594;</button>
          </div>
          <button type="button" id="downButton" class="controlButtons__button">&#8595;</button> 
        </div>
    </div>
  </body>
</html>
