<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <script src="static/built/auth.js" defer></script>
        <link href="static/common.css" rel="stylesheet">
        <link href="static/auth_style.css" rel="stylesheet">
    </head>
    <body class="container">
        <h2 class="text--big text--title gradient">Snake</h2>
        <h2 class="text--big">&#128013</h2>
        <h3 class="text">Log In</h3>
        <form class="form" name="login">
            <input class="form__item" name="username" type="text" placeholder="Username" required>
            <input class="form__item" name="password" type="password" placeholder="Password" required minlength="8">
            <button class="form__item" type="button" onclick="userlogin()">Log in!</button>
        </form>
        
        <!-- TODO remove this test button -->
        <form name="getusers">
            <button type="button" onclick="getUsers()">Get Users</button>
        </form>
    </body>
</html>
