{% extends "base.html" %}
{% block content %}
      <div id="modal" class="modal">
        <h2 class="text--big text--title gradient">Snake</h2>
        <h2 class="text--big">&#128013</h2>

        <h3 class="text text--red">Welcome to the game menu!</h3>
       <!-- <form class="form">
          <button class="form__item" type="button" onclick="gameModal.update('highScores')">High Scores</button>
          <button class="form__item" type="submit" formaction={{ url_for('login') }}>Log In</button>
          <button class="form__item" type="submit" formaction={{ url_for('signup') }}>Sign Up</button>
        </form> -->
      </div>
{% endblock %}
    
