<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Signup</title>
        <script src="static/built/auth.js" defer></script>
        <link href="static/common.css" rel="stylesheet">
    </head>
    <body class="container">
        <h2 class="text--big text--title gradient">Snake</h2>
        <h2 class="text--big">&#128013</h2>
        <h3 class="text">Sign Up</h3>
        <form class="form" action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ form.username(class_="form__item") }}
            {% for error in form.username.errors %}
            <p class="text__formerror">{{ error }}</p>
            {% endfor %}
            {{ form.email(class_="form__item") }}
            {% for error in form.email.errors %}
            <p class="text__formerror">{{ error }}</p>
            {% endfor %}
            {{ form.password(class_="form__item") }}
            {% for error in form.password.errors %}
            <p class="text__formerror">{{ error }}</p>
            {% endfor %}
            {{ form.repeat_password(class="form__item") }}
            {% for error in form.repeat_password.errors %}
            <p class="text__formerror">{{ error }}</p>
            {% endfor %}
            {{ form.submit(class_="form__item") }}
        </form>
    </body>
</html>
