<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Signup</title>
        <script src="static/built/auth.js" defer></script>
        <link href="static/common.css" rel="stylesheet">
    </head>
    <body class="container">
        <h2 class="text--big text--title gradient">Snake</h2>
        <h2 class="text--big">&#128013</h2>
        <h3 class="text">Sign Up</h3>
        <p class="text text--red">Please check your email for a verification link.</p>
    </body>
</html>
