{% extends "base.html" %}
{% block head %}
    {{ super () }}
    <script src="https://cdn.socket.io/4.5.4/socket.io.js" 
    integrity="sha384-lix6gfYhwhgbLPheLwgmmEYQL73kK4LcFRUyt6uLa36TY0YZNWCdpidU+HX+gVXN" 
    crossorigin="anonymous"></script>
    <script type="module" src="/static/built/multiplayer.js" defer></script>
{% endblock %}

{% block content %}
<div id="container">
    <ul id="playerList">
    </ul>
    
    <!-- <p id="playerOneStatus" class="text text--red">Player One</p>
    <p id="playerTwoStatus" class="text text--red">Player Two</p> -->
    <div id="lobbyControls">
        <button type="button" id="playerReady" class="form__item">Ready</button>
        <button type="button" id="leaveLobby" class="form__item">Leave Lobby</button>
    </div>
    
    <p class="text" id="countdown"></p>
</div>



{% endblock %}

